/* 首页Css属性*/

/* 版心,提供基本box */
.wrapper {
    margin:0 auto;
    width:1200px;
}

body {
    background-color: #f3f5f7;
    font-family: "微软雅黑", "Microsoft YaHei", "黑体", "Arial", sans-serif;
    font-size: 14px;
    color: #333;
}

/* 1.头部Css属性*/
.header {
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}
.header .wrapper {
    padding-top: 29px;
    display: flex;
   
}
/* logo */
.header .logo a{
    display: block;
    width: 195px;
    height: 41px;
    background-image: url("#");
    background-size: 100%;
    background-repeat: no-repeat;
    
    font-size: 0;   /*隐藏文字*/
    text-indent: -9999px; /*隐藏文字*/
    text-decoration: none;
}
/* 导航条 */
.header .nav {
    margin-left: 102px;
}
.header .nav ul {
    display: flex;
}   
.header .nav li {
    list-style: none;
    margin-right: 24px;
}
.header .nav li a {
    padding: 6px 8px;
    line-height: 27px;
    text-decoration: none;
    color: #333;
    font-size: 19px;
   
    display: block;
}
.header .nav li a:active,.header .nav li a:hover {
    border-bottom: 2px solid skyblue;
}
/* 搜索框 */
.header .search {
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;

    background-color: #f3f5f7;
    border-radius: 20px;
}
.header .search input {
    flex:1; /*占满剩余空间*/
    border:0;
    outline: none; /*去掉选中输入框时的边框和阴影*/
    background-color: #f3f5f7;
    font-size: 14px;
    color: #333;
}
.header .search input::placeholder {
    font-size: 14px;
    color: #999;
}
.header .search a {  /*父级已经该位flex布局，子级作为弹性盒子，宽高生效*/
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url("#");
    background-size: 100%;
    background-repeat: no-repeat;
    border:0;
    
    cursor: pointer; /*鼠标悬停时变成手型*/
}
/* 用户 */
.header .user {
    margin-left: 32px;
    margin-top: 6px; 
    width: 100px;
    display: flex;
}
.header .user span {
    font-size: 16px;
    color: #666;
}
.header .user img {
    vertical-align: middle; /*图片垂直居中*/
    margin-right: 7px;
}
.header .user a {
    text-decoration: none;
    color: #666;
    font-size: 16px;
}

/* 2.轮播条Css属性*/
.banner {
    margin-top: 20px;
    width: 1920px;
    height: 420px;
    background-color: #0092cb;
    background-image: url("#");
    background-size: 100%;
    background-repeat: no-repeat;
}
.banner .wrapper {
    display: flex;
    justify-content: space-between;   /*主轴对齐between，可实现左、右侧边栏*/
    height: 420px;

    background-image: url("#");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.banner .left {
    width: 191px;
    height: 420px;
    padding: 3px 20px;

    background-color:rgba(0, 0, 0 , 0.42); /*半透明黑色背景*/
}
.banner .left a {
    display: block; /*块级,宽度为父级100%*/
    height: 46px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 46px; 
    text-align: left;

    background-image: url("#") right center no-repeat; /*箭头背景图在右侧居中*/
}
.banner .left a:hover {
    color:#00a4ff
}

.banner .right {
    margin-top: 60px;
    width: 218px;
    height: 305px;
    
    border-radius: 10px;
    background-color:#209dd5;
}
.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
.banner .right .content {
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}
.content dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.content dt {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    font-weight: 700;
}
.content dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}
.content dd span {
    color:#00a4ff
}
.content dd strong {
    color: #7d7d7d;
    font-weight: 400;
}
.banner .right  a {
    display: block;
    height: 32px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 32px; 
    text-align: center;
    background-color: #00a4ff;
}

/* 3.精品推荐recommend*/
.recommend{
    display: flex;
    padding: 0 20px;
    width: 1200px;
    height:60px;
    margin: 11px auto;

    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
    line-height: 60px;
}
.recommend h3 {
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}
.recommend ul {
    display: flex;
    flex:1; /*列表占满剩余空间*/
    list-style: none;
}
.recommend ul li a{
    padding:0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}
.recommend ul li:last-child a {
    border-right: none;
}
.recommend .modify{
    font-size:16px;
    color:#00a4ff;
    text-decoration: none;
}